* {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
}

.word-set-area {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
}

.word-set-box {
    background-color: #F9F9F9;
    border-radius: 1rem;
    border: 1px solid lightgray;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    overflow: auto;
}

.word-card {
    background-color: #F9F9F9;
    border-radius: 1rem;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 10rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: .5rem 1rem .5rem 1rem;
}

.meanings {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.from {
    margin-top: 1rem;
    text-align: left;
}

.word-card-area {
    height: 23vh;
    overflow: auto;
}

.button-list button {
    width: 7rem;
    height: 3rem;
    margin: .25rem;
}

@media (max-width: 500px) {
    .mobile-room-area {
        height: 150vh;
        display: flex;
        flex-direction: column;
    }

    .scr-stopwatch-area {
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem 0.1rem 0rem;
        width: 100%;
        height: 35rem;
        z-index: 1;
    }

    .stopwatch-area-frame {
        margin: 0.1rem 0.5rem 0.5rem 0.5rem;
    }

    .right-area {
        flex: 1;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .stat-area {
        margin: 0rem 0.5rem 0.5rem 0.5rem;
    }

    .chat-area {
        margin: 0rem 0.5rem 0rem 0.5rem;
    }

    .room-info-box {
        width: 100%;
        height: 15rem;
        margin: 0.5rem;
    }

    .info-row {
        display: flex;
        flex-direction: row;
    }

    .user-list {
        width: 90vw;
        height: 100%;
    }
}